@import "../../scss/main.scss";
.content{
    animation: fadeIn 1s 1.25s ease-in-out forwards 1;
    transform: translateY(5%);
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem auto;
    max-width: 70rem;
    width: 100%;
}