@import "../../scss/main.scss";

.content{
    animation: fadeIn 1.5s 1.25s ease-in-out forwards 1;
    transform: translateY(5%);
    opacity: 0;
}
.location {
    margin: 3rem auto;
    padding: 5rem 0;

    &Header {
        span {
            font-size: 1rem;
            color: #ddd;
            display: block;
        }
        h2{
            margin-bottom: 2rem;
        }
    }
}