

//  Breakpoints
$medium-screen: 768px;
$large-screen: 1024px;

// Font weights
$ligh-font-weight: 300;
$medium-font-weight: 500;
$bold-font-weight: 700;

$primary-color: #0B1435;
$cyan: #02B1C8;
$cyan-light: #00ffff;
$green: #00FF00;